<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of (compras$ | async)">
        <td scope="row">{{producto.titulo}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.precio*producto.cantidad | currency}}</td>
      </tr>
      <tr>
        <th scope="row">Total</th>
        <td colspan="3">{{total$ | async | currency}}</td>
      </tr>
    </tbody>
</table>

