<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
    <h4 id="list-item-1">Informacion</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias illum ex nemo ea tempore sapiente labore ipsam sed qui consequuntur inventore, velit cupiditate corrupti, perspiciatis sunt sequi deleniti itaque laudantium?</p>
    <h4 id="list-item-2">Integrantes</h4>
    <p>Cecilia Carlon, Victoria Oliveto, Marina Suarez, Antonella Perez</p>
    <h4 id="list-item-3">Redes Sociales</h4>
    <p>Instagram: @mabrexOriginal Facebook: mabrexOriginal</p>
</div>
