<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col">Stock</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos" [ngClass]="{'oferta': producto.oferta}" >
            <td scope="row">{{producto.titulo}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio | currency}}</td>
            <td><img width="150" [src]="producto.imagen" [alt]="producto.titulo"></td>
            <td><span class="badge badge-danger" *ngIf="producto.stock==0; else elseConStock">Sin Stock</span></td>
            <ng-template #elseConStock>
                <span class="badge badge-success">Con Stock</span>
            </ng-template>
            <td *ngIf="producto.stock">
            <app-input-integer [(cantidad)]="producto.cantidad" [max]="producto.stock" (maxAlcanzado)="maxAlcanzado($event)"></app-input-integer>
            <button class="btn btn-outline-dark" (click)="addAlCarrito(producto)"><i class="fas fa-shopping-cart"></i></button>
            </td> 
        </tr>
    </tbody>
</table>


