<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">{{tecno1.titulo}}</td>
            <td>{{tecno1.descripcion}}</td>
            <td>${{tecno1.precio}}</td>
            <td>{{tecno1.stock}}</td>
            <td><img [src]="tecno1.imagen" [alt]="tecno1.titulo"></td>
        </tr>
        <tr>
            <td scope="row">{{tecno2.titulo}}</td>
            <td>{{tecno2.descripcion}}</td>
            <td>${{tecno2.precio}}</td>
            <td>{{tecno2.stock}}</td>
            <td><img [src]="tecno2.imagen" [alt]="tecno2.titulo"></td>
        </tr>
        <tr>
            <td scope="row">{{tecno3.titulo}}</td>
            <td>{{tecno3.descripcion}}</td>
            <td>${{tecno3.precio}}</td>
            <td>{{tecno3.stock}}</td>
            <td><img [src]="tecno3.imagen" [alt]="tecno3.titulo"></td>
        </tr>
    </tbody>
</table>
